@switch (data.tipo) {
  <!-- Tipo Informativo -->
  @case ("informativo") {
    <div class="flex flex-col p-2">
      <h1 mat-dialog-title class="!text-lg !font-semibold text-zinc-800">
        {{ data.titulo }}
      </h1>

      <div mat-dialog-content>
        <p class="text-sm text-zinc-600">
          {{ data.mensaje }}
        </p>
      </div>
      <div mat-dialog-actions class="!mt-4 !justify-end">
        <button
          mat-flat-button
          color="primary"
          [mat-dialog-close]="true"
          cdkFocusInitial
        >
          Ok
        </button>
      </div>
    </div>
  }

  <!-- Tipo Procesando -->
  @case ("procesando") {
    <div class="flex flex-col items-center justify-center p-4">
      <h1 mat-dialog-title class="!text-center !text-lg !font-semibold text-zinc-800">
        {{ data.titulo }}
      </h1>

      <div mat-dialog-content class="flex flex-col items-center">
        <mat-spinner class="my-4"></mat-spinner>
        <p class="text-center text-sm text-zinc-600">
          {{ data.mensaje }}
        </p>
      </div>
    </div>
  }

  <!-- Tipo Web -->
  @case ("web") {
    <div class="flex flex-row gap-4 p-2">
      <div class="flex shrink-0 items-start pt-1">
        <mat-icon class="material-symbols-outlined !text-5xl text-blue-500">
          public
        </mat-icon>
      </div>
      <div class="flex flex-col">
        <h1 mat-dialog-title class="!mb-2 !text-lg !font-semibold text-zinc-800">
          {{ data.titulo }}
        </h1>

        <div mat-dialog-content>
          <p class="text-sm text-zinc-600">
            {{ data.mensaje }}
          </p>
        </div>

        <div mat-dialog-actions class="!mt-4 !justify-end !gap-2">
          <button mat-stroked-button [mat-dialog-close]="false" cdkFocusInitial>
            Cancelar
          </button>
          <button mat-flat-button color="primary" [mat-dialog-close]="true">
            Si, ir a la pagina
          </button>
        </div>
      </div>
    </div>
  }

  <!-- Tipo Confirmacion -->
  @case ("confirmacion") {
    <div class="flex flex-row gap-4 p-2">
      <div class="flex shrink-0 items-start pt-1">
        <mat-icon class="material-symbols-outlined !text-5xl text-amber-500">
          warning
        </mat-icon>
      </div>
      <div class="flex flex-col">
        <h1 mat-dialog-title class="!mb-2 !text-lg !font-semibold text-zinc-800">
          {{ data.titulo }}
        </h1>

        <div mat-dialog-content>
          <p class="text-sm text-zinc-600">
            {{ data.mensaje }}
          </p>
        </div>

        <div mat-dialog-actions class="!mt-4 !justify-end !gap-2">
          <button
            mat-stroked-button
            [mat-dialog-close]="false"
            cdkFocusInitial
          >
            Cancelar
          </button>
          <button mat-flat-button color="warn" [mat-dialog-close]="true">
            Si, estoy seguro
          </button>
        </div>
      </div>
    </div>
  }

  <!-- Tipo Link -->
  @case ("link") {
    <div class="flex flex-row gap-4 p-2">
      <div class="flex shrink-0 items-start pt-1">
        <mat-icon class="material-symbols-outlined !text-5xl text-amber-500">
          warning
        </mat-icon>
      </div>
      <div class="flex flex-col">
        <h1 mat-dialog-title class="!mb-2 !text-lg !font-semibold text-zinc-800">
          {{ data.titulo }}
        </h1>

        <div mat-dialog-content>
          <p class="text-sm text-zinc-600">
            {{ data.mensaje }}
          </p>
        </div>

        <div mat-dialog-actions class="!mt-4 !justify-end">
          <button
            mat-flat-button
            color="primary"
            routerLink="{{ data.routerLink }}"
            [mat-dialog-close]="true"
          >
            {{ data.mensajeLink }}
          </button>
        </div>
      </div>
    </div>
  }

  <!-- Tipo Warning -->
  @case ("warning") {
    <div class="flex flex-row gap-4 p-2">
      <div class="flex shrink-0 items-start pt-1">
        <mat-icon class="material-symbols-outlined !text-5xl text-amber-500">
          warning
        </mat-icon>
      </div>
      <div class="flex flex-col">
        <h1 mat-dialog-title class="!mb-2 !text-lg !font-semibold text-zinc-800">
          {{ data.titulo }}
        </h1>

        <div mat-dialog-content>
          <p class="text-sm text-zinc-600">
            {{ data.mensaje }}
          </p>
        </div>

        <div mat-dialog-actions class="!mt-4 !justify-end">
          <button
            mat-flat-button
            color="primary"
            [mat-dialog-close]="false"
            cdkFocusInitial
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  }

  <!-- Tipo ERROR -->
  @case ("error") {
    <div class="flex flex-row gap-4 p-2">
      <div class="flex shrink-0 items-start pt-1">
        <mat-icon class="material-symbols-outlined !text-5xl text-red-500">
          error
        </mat-icon>
      </div>
      <div class="flex flex-col">
        <h1 mat-dialog-title class="!mb-2 !text-lg !font-semibold text-zinc-800">
          {{ data.titulo }}
        </h1>

        <div mat-dialog-content>
          <p class="text-sm text-zinc-600">
            {{ data.mensaje }}
          </p>
        </div>

        <div mat-dialog-actions class="!mt-4 !justify-end">
          <button
            mat-flat-button
            color="primary"
            [mat-dialog-close]="false"
            cdkFocusInitial
          >
            OK
          </button>
        </div>
      </div>
    </div>
  }

  <!-- Tipo Exito -->
  @case ("exito") {
    <div class="flex flex-row gap-4 p-4">
      <div class="flex shrink-0 items-start pt-1">
        <mat-icon class="material-symbols-outlined !text-5xl text-green-500">
          check_circle
        </mat-icon>
      </div>
      <div class="flex flex-col">
        <h1 mat-dialog-title class="!mb-2 !text-lg !font-semibold text-zinc-800">
          {{ data.titulo }}
        </h1>

        <div mat-dialog-content>
          <p class="text-sm text-zinc-600">
            {{ data.mensaje }}
          </p>
        </div>

        <div mat-dialog-actions class="!mt-4 !justify-end">
          <button
            mat-flat-button
            color="primary"
            [mat-dialog-close]="false"
            cdkFocusInitial
          >
            OK
          </button>
        </div>
      </div>
    </div>
  }
}
