<mat-card class="m-5 rounded-2xl bg-white">
  <mat-card-content class="rounded-2xl bg-white/60">
    <ul
      class="mt-0 hidden w-full flex-row justify-around gap-2 overflow-x-scroll pl-0 md:flex"
    >
      <li class="inline-block">
        <button
          routerLink="/inicio/perfil"
          matButton="outlined"
          mat-button
          class="whitespace-nowrap"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Ajustes de cuenta
        </button>
      </li>

      <li class="inline-block">
        <button
          routerLink="/inicio/perfil/change-password"
          mat-button
          routerLinkActive="active"
          class="whitespace-nowrap"
          matButton="outlined"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Cambiar Contraseña
        </button>
      </li>

      <li class="inline-block">
        <button
          matButton="outlined"
          mat-button
          routerLink="/inicio/perfil/terms-conditions"
          mat-button
          class="whitespace-nowrap"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Condiciones generales
        </button>
      </li>

      <li class="inline-block">
        <button
          matButton="outlined"
          routerLink="/inicio/perfil/privacy-policy"
          mat-button
          class="whitespace-nowrap"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Protección de datos
        </button>
      </li>
    </ul>

    <!-- Botón hamburguesa solo visible en móvil -->
    <div class="absolute top-2 right-2 md:hidden">
      <button
        class="m-auto"
        matFab
        [matMenuTriggerFor]="mobileMenu"
        aria-label="Menú de navegación"
      >
        <mat-icon class="material-symbols-outlined">menu</mat-icon>
      </button>
    </div>

    <mat-menu #mobileMenu="matMenu">
      <button
        mat-menu-item
        routerLink="/inicio/perfil"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Ajustes de cuenta
      </button>
      <button
        mat-menu-item
        routerLink="/inicio/perfil/change-password"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Cambiar Contraseña
      </button>
      <button
        mat-menu-item
        routerLink="/inicio/perfil/terms-conditions"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Condiciones generales
      </button>
      <button
        mat-menu-item
        routerLink="/inicio/perfil/privacy-policy"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Protección de datos
      </button>
    </mat-menu>

    <hr class="hidden text-zinc-300 md:block" />
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
