.terms-conditions-card {
    h4 {
        margin-bottom: 20px;
    }
    .title {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    .btn-box {
        .mat-mdc-button {
            border: 0;
            height: auto;
            min-width: auto;
            min-height: auto;
            padding: 13px 40px;
            font-weight: normal;
            color: var(--whiteColor);
            background-color: var(--daxaColor);

            &:not(:first-child) {
                margin-left: 15px;
                background-color: var(--dangerColor);
            }
        }
    }
    &.rtl-enabled {
        .btn-box {
            .mat-mdc-button {
                &:not(:first-child) {
                    margin-left: 0;
                    margin-right: 15px;
                }
            }
        }
    }
}

/* Mobile: max-width 767.98px */
@media only screen and (max-width: 767.98px) {
    .terms-conditions-card {
        h4 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 15px;
        }
        .btn-box {
            .mat-mdc-button {
                padding: 12px 25px;
            }
        }
    }
}
