@reference "tailwindcss";

:host {
  display: block;
  width: 100%;
}

.actividad-shell {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.actividad-shell__content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
