<section class="relative flex h-full w-screen bg-white">
  <div class="loginfondo hidden w-1/2 bg-orange-300 sm:block"></div>
  <div
    class="absolute top-0 hidden h-full w-1/2 items-center justify-center sm:flex"
  >
    <img class="max-h-full" src="/assets/kengo-icono-nombre-naranja.png" />
  </div>

  <div class="flex w-full flex-col justify-center p-5 sm:w-1/2 lg:p-15">
    <div class="fuente-kengo mb-5 flex justify-start text-3xl">Acceder</div>

    <!-- Component: Rounded required input -->
    <div class="relative mb-4">
      <input
        id="id-b07"
        type="text"
        name="id-b07"
        required
        value=""
        class="peer relative h-10 w-full justify-center rounded border border-slate-200 px-4 text-sm text-slate-500 placeholder-transparent transition-all outline-none autofill:bg-white invalid:border-red-400 invalid:text-red-400 focus:border-orange-400 focus:outline-none invalid:focus:border-red-400 focus-visible:outline-none disabled:cursor-not-allowed disabled:bg-slate-50 disabled:text-slate-400 xl:w-xl"
      />
      <label
        for="id-b07"
        class="absolute -top-2 left-2 z-[1] cursor-text px-2 text-xs text-slate-400 transition-all peer-placeholder-shown:top-2.5 peer-placeholder-shown:text-sm peer-autofill:-top-2 peer-invalid:text-red-400 peer-focus:-top-2 peer-focus:cursor-default peer-focus:text-xs peer-focus:text-orange-400 peer-invalid:peer-focus:text-red-400 peer-disabled:cursor-not-allowed peer-disabled:text-slate-400 before:absolute before:top-0 before:left-0 before:z-[-1] before:block before:h-full before:w-full before:bg-white before:transition-all peer-disabled:before:bg-transparent peer-required:after:text-red-400 peer-required:after:content-['\00a0*']"
      >
        E-mail
      </label>
    </div>
    <!-- End Rounded required input -->
    <!-- Component: Rounded required input -->
    <div class="relative mb-5">
      <input
        id="id-b07"
        type="text"
        name="id-b07"
        required
        value=""
        class="peer relative h-10 w-full justify-center rounded border border-slate-200 px-4 text-sm text-slate-400 placeholder-transparent transition-all outline-none autofill:bg-white invalid:border-red-400 invalid:text-red-400 focus:border-orange-400 focus:outline-none invalid:focus:border-red-400 focus-visible:outline-none disabled:cursor-not-allowed disabled:bg-slate-50 disabled:text-slate-400 xl:w-xl"
      />
      <label
        for="id-b07"
        class="absolute -top-2 left-2 z-[1] cursor-text px-2 text-xs text-slate-400 transition-all peer-placeholder-shown:top-2.5 peer-placeholder-shown:text-sm peer-autofill:-top-2 peer-invalid:text-red-400 peer-focus:-top-2 peer-focus:cursor-default peer-focus:text-xs peer-focus:text-orange-400 peer-invalid:peer-focus:text-red-400 peer-disabled:cursor-not-allowed peer-disabled:text-slate-400 before:absolute before:top-0 before:left-0 before:z-[-1] before:block before:h-full before:w-full before:bg-white before:transition-all peer-disabled:before:bg-transparent peer-required:after:text-red-400 peer-required:after:content-['\00a0*']"
      >
        Contraseña
      </label>
    </div>
    <!-- End Rounded required input -->

    <!-- Component: Large primary basic button -->
    <button
      routerLink="/inicio"
      class="mb-2 inline-flex h-12 w-full items-center justify-center gap-2 rounded bg-amber-500 px-6 text-sm font-medium tracking-wide whitespace-nowrap text-white transition duration-300 hover:bg-amber-600 focus:bg-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:bg-amber-300 disabled:shadow-none xl:w-xl"
    >
      <span>Conectarse</span>
    </button>
    <!-- End Large primary basic button -->
    <a routerLink="/register" class="mb-10"
      ><div class="text-gray-400">No tengo cuenta. Registrarme</div></a
    >
  </div>
  <!-- Component: Base sized outline google app button  -->
  <!-- End Base sized outline google app button  -->
</section>
