<form [formGroup]="form" class="cambiar-password">
  <ui2-input
    label="Antigua contraseña"
    type="password"
    formControlName="actual"
    placeholder="Introduce la contraseña antigua"
    iconLeft="key"
  ></ui2-input>

  <div class="cambiar-password__grid">
    <ui2-input
      label="Nueva contraseña"
      type="password"
      formControlName="nueva"
      placeholder="Introduce la nueva contraseña"
      iconLeft="lock"
    ></ui2-input>

    <ui2-input
      label="Confirmar nueva contraseña"
      type="password"
      formControlName="confirmar"
      placeholder="Repite la nueva contraseña"
      iconLeft="lock"
    ></ui2-input>
  </div>

  <div class="cambiar-password__actions">
    <ui2-button variant="primary" iconLeft="lock_reset" type="submit">
      Cambiar contraseña
    </ui2-button>
  </div>
</form>
