<div class="change-password-card">
  <div class="row">
    <div class="col-sm-12">
      <div class="mb-25">
        <label class="main-label d-block lh-1 text-black">
          Antigua Contraseña
        </label>
        <mat-form-field>
          <mat-label> Introduce la contraseña antigua </mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Ocultar contraseña'"
            [attr.aria-pressed]="hide"
          >
            <span class="material-symbols-outlined">
              {{ hide ? "visibility_off" : "visibility" }}
            </span>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-25">
        <label class="main-label d-block lh-1 text-black">
          Nueva Contraseña
        </label>
        <mat-form-field>
          <mat-label> Introduce la nueva contraseña </mat-label>
          <input matInput [type]="hide2 ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide2 = !hide2"
            [attr.aria-label]="'Ocultar contraseña'"
            [attr.aria-pressed]="hide2"
          >
            <span class="material-symbols-outlined">
              {{ hide2 ? "visibility_off" : "visibility" }}
            </span>
          </button>
        </mat-form-field>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-25">
        <label class="main-label d-block lh-1 text-black">
          Confirmar Nueva Contraseña
        </label>
        <mat-form-field>
          <mat-label> Introduce la nueva contraseña </mat-label>
          <input matInput [type]="hide3 ? 'password' : 'text'" />
          <button
            mat-icon-button
            matSuffix
            (click)="hide3 = !hide3"
            [attr.aria-label]="'Ocultar contraseña'"
            [attr.aria-pressed]="hide3"
          >
            <span class="material-symbols-outlined">
              {{ hide3 ? "visibility_off" : "visibility" }}
            </span>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="btn-box">
    <button mat-button>Cambiar Contraseña</button>

    <!--
    <a routerLink="/authentication/solicitar-nueva-password" mat-button>
      ¿Olvidaste tu contraseña?
    </a>
        -->
  </div>
</div>
