.change-password-card {
    margin-top: 15px;

    .main-label {
        margin-bottom: 12px;
    }
    .btn-box {
        .mat-mdc-button {
            border: 0;
            height: auto;
            min-width: auto;
            min-height: auto;
            padding: 13px 40px;
            font-weight: normal;
            color: var(--whiteColor);
            background-color: var(--daxaColor);

            &:not(:first-child) {
                padding: 0;
                margin-left: 20px;
                color: var(--daxaColor);
                background-color: transparent;
            }
        }
    }
    &.rtl-enabled {
        .btn-box {
            .mat-mdc-button {
                &:not(:first-child) {
                    margin: {
                        left: 0;
                        right: 20px;
                    };
                }
            }
        }
    }
}

/* Mobile: max-width 767.98px */
@media only screen and (max-width: 767.98px) {
    .change-password-card {
        .main-label {
            margin-bottom: 12px;
        }
        .btn-box {
            .mat-mdc-button {
                padding: 12px 25px;

                &:not(:first-child) {
                    margin-left: 15px;
                }
            }
        }
        .mb-25 {
            margin-bottom: 20px !important;
        }
        &.rtl-enabled {
            .btn-box {
                .mat-mdc-button {
                    &:not(:first-child) {
                        margin: {
                            left: 0;
                            right: 15px;
                        };
                    }
                }
            }
        }
    }
}