.cropper {
  border: 1px solid #e1e1e1;
  max-height: 70vh;
  max-width: 80vw;
  width: 50vw;
  aspect-ratio: 1;
}

.imagen {
  position: absolute;
  top: 0;
  border: 1px solid #e1e1e1;
  max-height: 70vh;
  max-width: 80vw;
  width: 50vw;
  aspect-ratio: 1;
}
