<a routerLink="/clinica">
  <div
    class="group relative flex h-full flex-col items-center justify-center gap-2 rounded-2xl bg-slate-50/50 p-5 text-center before:absolute before:top-0 before:h-full before:w-full before:scale-95 before:rounded-t-2xl before:rounded-b-2xl before:bg-gradient-to-bl before:bg-[url('./assets/portadas/ejercicios.webp')] before:from-sky-200 before:via-orange-200 before:to-orange-700 before:bg-cover before:bg-center before:transition-all before:duration-500 before:content-['']"
  >
    <div
      class="z-10 mt-8 h-28 w-28 -translate-y-20 scale-80 rounded-3xl border-4 border-slate-50 transition-all duration-500"
    >
      <img src="../../assets/iconos/icono_ejercicio.webp" alt="Mi clinica" />
    </div>

    <div class="z-10 -translate-y-10 text-white transition-all duration-500">
      <span class="text-2xl font-semibold">Ejercicios</span>
    </div>

    <a
      class="bg-primary z-10 rounded-md px-4 py-1 text-slate-50 transition-all duration-500 hover:scale-125 hover:bg-orange-500"
      href="#"
      >Ver ejercicios</a
    >
  </div>
</a>
