<div class="flex min-h-screen flex-col">
  @if (activarHeader) {
    <app-header></app-header>
  }

  <img
    class="fixed bottom-0 left-0 -z-10 rotate-180"
    src="../assets/fondo-kengo (2).svg"
  />
  <div
    class="fixed top-0 left-0 h-80 w-80 rounded-full bg-orange-400 opacity-30 blur-xl filter"
  ></div>

  <!--test commit emilio-->
  <main class="main flex w-screen flex-grow justify-center">
    <router-outlet> </router-outlet>
  </main>
  <app-carrito-ejercicios></app-carrito-ejercicios>

  <footer class="footer">
    <app-footer> </app-footer>
  </footer>
</div>

<div
  class="fixed right-0 bottom-0 z-50 bg-red-700 sm:bg-yellow-700 md:bg-purple-500 lg:bg-blue-700 xl:bg-green-700"
>
  <span class="block text-white sm:hidden">M</span>
  <span class="hidden text-white sm:block md:hidden">SM</span>
  <span class="hidden text-white md:block lg:hidden">MD</span>
  <span class="hidden text-white lg:block xl:hidden">LG</span>
  <span class="hidden text-white xl:block">XL</span>
</div>
