<div class="flex min-h-screen flex-col">
  @if (activarHeader) {
    <app-header></app-header>
  }

  <img
    class="fixed bottom-0 left-0 -z-10 rotate-180"
    src="../assets/fondo-kengo-3.svg"
  />

  <!--test commit emilio-->
  <main class="main flex w-screen flex-grow justify-center">
    <router-outlet> </router-outlet>
  </main>

  <footer class="footer">
    <app-footer> </app-footer>
  </footer>
</div>

<div class="fixed z-50 flex h-10 w-full">
  <!-- This is an example component -->
  <div class="mx-auto max-w-2xl">
    <div class="flex items-center space-x-4">
      <div class="relative">
        <img
          class="h-10 w-10 rounded-full"
          src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
          alt=""
        />
        <span
          class="absolute top-0 left-7 h-3.5 w-3.5 rounded-full border-2 border-white bg-green-400 dark:border-gray-800"
        ></span>
      </div>
      <div class="relative">
        <img
          class="h-10 w-10 rounded"
          src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
          alt=""
        />
        <span
          class="absolute top-0 left-8 h-3.5 w-3.5 -translate-y-1/2 transform rounded-full border-2 border-white bg-red-400 dark:border-gray-800"
        ></span>
      </div>
      <div class="relative">
        <img
          class="h-10 w-10 rounded-full"
          src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
          alt=""
        />
        <span
          class="absolute bottom-0 left-7 h-3.5 w-3.5 rounded-full border-2 border-white bg-green-400 dark:border-gray-800"
        ></span>
      </div>
      <div class="relative">
        <img
          class="h-10 w-10 rounded"
          src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
          alt=""
        />
        <span
          class="absolute bottom-0 left-8 h-3.5 w-3.5 translate-y-1/4 transform rounded-full border-2 border-white bg-green-400 dark:border-gray-800"
        ></span>
      </div>
    </div>

    <p class="mt-5">
      This avatar component is part of a larger, open-source library of Tailwind
      CSS components. Learn more by going to the official
      <a class="text-blue-600 hover:underline" href="#" target="_blank"
        >Flowbite Documentation</a
      >.
    </p>
  </div>
</div>
<div
  class="fixed right-0 bottom-0 z-50 bg-red-700 sm:bg-yellow-700 md:bg-purple-500 lg:bg-blue-700 xl:bg-green-700"
>
  <span class="block text-white sm:hidden">M</span>
  <span class="hidden text-white sm:block md:hidden">SM</span>
  <span class="hidden text-white md:block lg:hidden">MD</span>
  <span class="hidden text-white lg:block xl:hidden">LG</span>
  <span class="hidden text-white xl:block">XL</span>
</div>
