<section
  class="m-5 flex max-w-7xl flex-row flex-wrap justify-center align-baseline md:justify-start"
>
  @for (ejercicio of ejercicios; track ejercicio.id) {
    <div class="w-full max-w-xs p-2 sm:w-1/2 md:w-1/4">
      <mat-card appearance="outlined">
        <img
          mat-card-image
          src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
          alt="Photo ejercicio"
        />
        <mat-card-content class="mt-2 text-zinc-700">
          <mat-card-title>Flexión de rodilla</mat-card-title>
          <mat-card-subtitle>Rehabilitación</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  }
</section>
