<!-- Profile -->
<mat-card
  class="daxa-card profile-card border-radius d-block mb-25 border-none bg-white p-0"
>
  <mat-card-content>
    <div class="cover-image position-relative border-top-radius">
      <img
        src="../assets/images/profile-big-cover-sanfi.png"
        class="border-top-radius d-block m-auto"
        alt="cover-image"
      />

      <!--
      <button
        type="button"
        mat-button
        class="edit-btn"
        (click)="actualizarToken()"
        [matMenuTriggerFor]="editCoverPhotoMenu"
      >
        Test
      </button>
-->

      <mat-menu
        #editCoverPhotoMenu="matMenu"
        class="card-header-menu"
        xPosition="after"
      >
        <button mat-menu-item>Subir Foto</button>
        <button mat-menu-item>Reposicionar</button>
        <button mat-menu-item>Eliminar</button>
      </mat-menu>
    </div>

    <div class="profile-content">
      <div
        class="d-flex align-items-center flex-column sm-flex-row sm-align-items-end justify-content-between"
      >
        <!-- IMAGEN PERFIL
        <div class="d-md-flex align-items-end">
          <div class="image position-relative">
            @if ((this.appService.misDetalles$ | async)?.imagen_perfil) {
              <img
                src="assets/images/users/user{{
                  (this.appService.misDetalles$ | async)?.imagen_perfil
                }}.webp"
                class="rounded-circle foto-perfil"
                alt="profile-image"
              />
            }
            <button
              type="button"
              mat-button
              class="edit-btn"
              [matMenuTriggerFor]="editProfilePhotoMenu"
            >
              <i class="material-symbols-outlined"> photo_camera </i>
            </button>
            <mat-menu
              #editProfilePhotoMenu="matMenu"
              class="card-header-menu"
              xPosition="after"
            >
              <button mat-menu-item>Ver foto</button>
              <button mat-menu-item>Subir foto</button>
              <button mat-menu-item>Eliminar</button>
            </mat-menu>
          </div>
          <div class="title">
            <span class="d-block fw-medium">
              {{ usuario?.nombre | titlecase }}
              {{ usuario?.apellidos | titlecase }}
            </span>
            <span class="d-block text-body">
              {{ usuario?.email | lowercase }}
            </span>
          </div>
        </div>
                -->

        <!--
        <div class="btn-box">
          <button mat-button (click)="iniciarDialogoBienvenida()">
            Solicitar Accesos
          </button>
        </div>
-->
      </div>

      <mat-tab-group
        [(selectedIndex)]="selectedTabIndex"
        (selectedTabChange)="onTabChange($event)"
      >
        <mat-tab label="perfil">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">face</mat-icon>
            Perfil / Accesos
          </ng-template>

          <mat-chip-listbox aria-label="Selección Perfil">
            @for (
              opcion of opciones["inicio"];
              let i = $index;
              track opcion.nombre
            ) {
              <mat-chip-option
                (click)="onChipClick('inicio', i)"
                color="warn"
                [selected]="opcion.seleccionado"
                >{{ opcion.nombre }}
              </mat-chip-option>
            }
          </mat-chip-listbox>
        </mat-tab>

        @if (isFisio) {
          <mat-tab label="formador">
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">school</mat-icon>
              Formador
            </ng-template>

            <mat-chip-listbox aria-label="Selección Ejercicios">
              @for (
                opcion of opciones["ejercicios"];
                let i = $index;
                track opcion.nombre
              ) {
                <mat-chip-option
                  (click)="onChipClick('ejercicios', i)"
                  color="warn"
                  [selected]="opcion.seleccionado"
                  >{{ opcion.nombre }}</mat-chip-option
                >
              }
            </mat-chip-listbox>
          </mat-tab>
        }

        @if (isCliente) {
          <mat-tab label="institucion">
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">business</mat-icon>
              Institución
            </ng-template>

            <mat-chip-listbox aria-label="Selección Institución">
              @for (
                opcion of opciones["ejercicios"];
                let i = $index;
                track opcion.nombre
              ) {
                <mat-chip-option
                  (click)="onChipClick('ejercicios', i)"
                  color="warn"
                  [selected]="opcion.seleccionado"
                  >{{ opcion.nombre }}</mat-chip-option
                >
              }
            </mat-chip-listbox>
          </mat-tab>
        }

        @if (isFisio) {
          <mat-tab label="impulsor">
            <ng-template mat-tab-label>
              <mat-icon class="example-tab-icon">business_center</mat-icon>
              Impulsor
            </ng-template>

            <mat-chip-listbox aria-label="Selección Impulsor">
              @for (
                opcion of opciones["clinica"];
                let i = $index;
                track opcion.nombre
              ) {
                <mat-chip-option
                  (click)="onChipClick('clinica', i)"
                  color="warn"
                  [selected]="opcion.seleccionado"
                  >{{ opcion.nombre }}</mat-chip-option
                >
              }
            </mat-chip-listbox>
          </mat-tab>
        }
      </mat-tab-group>
    </div>
  </mat-card-content>
</mat-card>
