<section class="m-5 max-w-7xl">
  <div class="flex flex-col items-center justify-center">
    <!-- Component: Image overlay card -->
    <div class="mt-5 max-h-96 w-[80%] max-w-3xl rounded">
      <!-- Image
      <figure class="relative flex">
        <img
          src="https://picsum.photos/id/100/800/600"
          alt="card image"
          class="h-auto w-full"
        />
        <figcaption
          class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-slate-900 p-6 text-white"
        >
          <h3 class="text-lg font-medium">Most famous beaches</h3>
          <p class="text-sm opacity-75">By George, jun 3 2023</p>
        </figcaption>
      </figure>
-->
      @if (ejercicio && ejercicio.video_url) {
        <figure class="relative flex">
          <video
            class="h-auto w-full rounded-2xl"
            autoplay
            muted
            loop
            controls
            playsinline
          >
            <source [src]="ejercicio.video_url" type="video/mp4" />
            Tu navegador no soporta el tag de video.
          </video>
        </figure>
      }
    </div>
    <!-- End Image overlay card -->

    <div
      class="flex w-full max-w-3xl justify-center p-5 text-center font-bold text-zinc-700"
    >
      {{ ejercicio?.nombre_ejercicio }}
    </div>
  </div>

  <div
    class="flex w-full flex-col justify-center"
    [formGroup]="formularioDetalleEjercicio"
  >
    <!-- Component: Rounded required input -->
    <div class="flex w-full px-3">
      <div class="w-1/2 px-3">
        <label class="mb-2 block leading-none text-black"> Series </label>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label> Series </mat-label>
          <input matInput formControlName="series" />
        </mat-form-field>
      </div>

      <div class="w-1/2 px-3">
        <label class="mb-2 block leading-none text-black"> Repeticiones </label>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label> Repeticiones </mat-label>
          <input matInput formControlName="repeticiones" />
        </mat-form-field>
      </div>
    </div>

    <div class="flex w-full px-3">
      <div class="w-1/2 px-3">
        <label class="mb-2 block leading-none text-black"> Peso </label>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label> Peso </mat-label>
          <input matInput formControlName="peso" />
        </mat-form-field>
      </div>

      <div class="w-1/2 px-3">
        <label class="mb-2 block leading-none text-black"> Duración </label>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label> Duración </mat-label>
          <input matInput formControlName="duracion" />
        </mat-form-field>
      </div>
    </div>

    <div class="w-full px-6">
      <label class="mb-2 block leading-none text-black"> Observación </label>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label> Observación </mat-label>
        <input type="textarea" matInput formControlName="nota" />
      </mat-form-field>
    </div>

    <button matFab extended class="mx-6 !h-10 !min-w-[5rem] !px-4 !text-sm">
      <mat-icon class="material-symbols-outlined">person_edit</mat-icon>
      Asignar a paciente
    </button>
  </div>
</section>
