<div class="mt-5 block text-zinc-700">
  <span class="block w-full pb-4 text-center font-bold text-zinc-800">
    AVISO LEGAL
  </span>

  <p>
    En cumplimiento del artículo 10 de la Ley 34/2002, del 11 de julio, de
    servicios de la Sociedad de la Información y Comercio Electrónico (LSSICE),
    Kengo, facilita a continuación sus datos de contacto e información general.
  </p>

  <span class="title fw-medium d-block"> Denominación social: </span>

  <p>KENGO</p>

  <span class="title fw-medium d-block">Número de identificación fiscal: </span>

  <p>G-***********</p>

  <span class="block w-full py-4 text-center font-bold text-zinc-800">
    Domicilio social:</span
  >

  <p></p>

  <span class="block w-full py-4 text-center font-bold text-zinc-800">
    Correo electrónico:
  </span>

  <p>info&#64;kengo.com</p>

  <span class="block w-full py-4 text-center font-bold text-zinc-800">
    Teléfono:
  </span>

  <p>+34 *** *** ***</p>

  <span class="block w-full py-4 text-center font-bold text-zinc-800">
    Datos registrales
  </span>

  <p>
    Inscrita en el Registro de Fundaciones de Competencia Estatal con el número
    ***.
  </p>

  <span class="block w-full py-4 text-center font-bold text-zinc-800">
    TÉRMINOS LEGALES Y CONDICIONES GENERALES DE USO
  </span>

  <p>
    Este sitio web ha sido creado por KENGO con carácter informativo y para uso
    personal de los usuarios. A través de las Condiciones Generales de uso, se
    pretende regular el acceso y uso de este sitio web, así como la relación
    entre el sitio web y sus usuarios. Accediendo a este sitio web se aceptan
    los siguientes términos y condiciones: el acceso a este sitio web es
    responsabilidad exclusiva de los usuarios. El simple acceso a este sitio web
    no supone entablar ningún tipo de relación comercial entre KENGO y el
    usuario. El acceso y la navegación en este sitio web supone aceptar y
    conocer las advertencias legales, condiciones y términos de uso contenidas
    en ella.
  </p>

  <div class="mt-5 flex justify-center">
    <a href="#" target="_blank">
      <button mat-flat-button extended color="warn" class="m-auto block">
        <mat-icon class="material-symbols-outlined">download</mat-icon>
        Descargar documento completo
      </button>
    </a>
  </div>
</div>
