<section class="flex flex-row justify-between">
  <app-navegacion class="relative flex w-3xs max-w-3xs"></app-navegacion>
  <div class="fuente-kengo flex items-center pt-10 text-3xl">Categorias</div>
  <div class="w-3xs max-w-3xs"></div>
</section>

<!--aqui van los videos-->
<section
  class="m-auto flex w-screen max-w-7xl flex-row flex-wrap justify-center gap-x-3 gap-y-10 pt-16 align-baseline"
>
  <!-- Inicio Categoria -->
  @for (categoria of categorias; track categoria.id) {
    <a
      routerLink="/ejercicios"
      class="box-border rounded hover:border-2 hover:border-orange-400"
      ><div
        class="pointer-events-none w-2xs min-w-3xs items-center overflow-hidden rounded bg-white text-slate-500 shadow-md shadow-slate-200"
        routerLink="/ejercicios"
      >
        <!--  Image -->
        <figure>
          <img
            src="https://picsum.photos/id/69/800/600"
            alt="card image"
            class="aspect-video w-full"
          />
        </figure>
        <!-- Body-->
        <div class="p-6">
          <header>
            <h3 class="text-center text-xl font-medium text-slate-700">
              {{ categoria.nombreCategoria }}
            </h3>
          </header>
        </div>
      </div></a
    >
  }
  <!-- fin Categoria -->
</section>
