<section class="flex flex-col justify-between gap-5">
  <div
    class="fuente-kengo mt-8 flex w-full items-center justify-center text-4xl"
  >
    Categorias
  </div>
  <app-explorador class="relative flex w-3xs max-w-3xs"></app-explorador>
</section>

<!--aqui van los videos-->
<section
  class="m-auto flex w-screen max-w-7xl flex-row flex-wrap justify-start align-baseline"
>
  <!-- Inicio Categoria -->
  @for (categoria of categorias; track categoria.id) {
    <div class="relative flex w-1/2 flex-wrap p-5 md:w-1/3 lg:w-1/4 xl:w-1/4">
      <a
        routerLink="/ejercicios"
        class="box-border rounded hover:border-2 hover:border-orange-400"
        ><div
          class="pointer-events-none items-center overflow-hidden rounded bg-white text-slate-500 shadow-md shadow-slate-200"
          routerLink="/ejercicios"
        >
          <!--  Image -->
          <figure>
            <img
              src="https://picsum.photos/id/69/800/600"
              alt="card image"
              class="aspect-video w-full"
            />
          </figure>
          <!-- Body-->
          <div class="p-6">
            <header>
              <h3
                class="overflow-hidden text-center font-medium text-ellipsis whitespace-nowrap text-slate-700"
              >
                {{ categoria.nombreCategoria }}
              </h3>
            </header>
          </div>
        </div></a
      >
    </div>
  }
  <!-- fin Categoria -->
</section>
