/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@theme {
  --color-primary: #e75c3e;
}

@font-face {
  font-family: kengoFont;
  src: url(../src/assets/fonts/versus-semibold.otf);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.fuente-kengo {
  font-family: "kengoFont";
  color: #e75c3e;
}
