<section class="flex h-screen justify-center align-middle">
  <div
    class="my-40 flex w-11/12 max-w-7xl items-center justify-center rounded-2xl bg-white p-10 shadow-2xl"
  >
    <!-- Component: Underline Table -->
    <div class="w-full overflow-x-auto bg-white">
      <table
        class="w-overflow-x-auto w-full border-collapse rounded text-left"
        cellspacing="0"
      >
        <tbody>
          <tr class="border-b border-slate-300">
            <th
              scope="col"
              class="h-12 stroke-slate-700 px-6 text-sm font-medium text-slate-700"
            >
              Nombre
            </th>
            <th
              scope="col"
              class="h-12 stroke-slate-700 px-6 text-sm font-medium text-slate-700"
            >
              Movil
            </th>
            <th
              scope="col"
              class="h-12 stroke-slate-700 px-6 text-sm font-medium text-slate-700"
            >
              E-mail
            </th>

            <th
              scope="col"
              class="h-12 stroke-slate-700 px-6 text-end text-sm font-medium text-slate-700"
            >
              Acciones
            </th>
          </tr>
          <tr class="border-b border-slate-200">
            <td
              class="h-12 items-baseline border-slate-200 stroke-slate-500 px-6 text-center align-middle text-sm text-slate-500 transition duration-300"
            >
              <div class="flex flex-row gap-2">
                <!-- Component: Rounded full sm sized basic image avatar -->
                <a
                  href="#"
                  class="relative my-auto inline-flex h-8 w-8 items-baseline justify-center rounded-full text-white"
                >
                  <img
                    src="https://i.pravatar.cc/32?img=4"
                    alt="user name"
                    title="user name"
                    width="32"
                    height="32"
                    class="max-w-full rounded-full"
                  />
                </a>
                <!-- End Rounded sm sized basic image avatar -->
                <div class="my-auto">Emilio Diaz Tejera</div>
              </div>
            </td>
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              634941333
            </td>
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              emilioopb96.com
            </td>
            <td
              class="flex h-12 flex-row items-center justify-end gap-5 border-slate-200 stroke-slate-500 px-6 align-middle text-sm text-slate-500 transition duration-300"
            >
              <!-- Component: Small outline basic button -->

              <button
                class="inline-flex h-8 items-center justify-center gap-2 rounded border border-amber-500 px-4 text-xs font-medium tracking-wide whitespace-nowrap text-black transition duration-300 hover:border-amber-500 hover:bg-amber-500 hover:text-white focus:border-amber-700 focus:text-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:text-amber-300 disabled:shadow-none"
              >
                <span>Editar</span>
              </button>
              <!-- End Small outline basic button -->
              <!-- Component: Large primary button with icon  -->
              <button
                class="inline-flex h-8 items-center justify-center gap-2 self-center rounded border-2 border-red-400 px-4 text-sm font-medium tracking-wide whitespace-nowrap text-white transition duration-300 hover:bg-red-400 focus:bg-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:bg-amber-300 disabled:shadow-none"
              >
                <span class="relative only:-mx-6">
                  <span class="sr-only">Button description</span>
                  <img
                    class="h-8 hover:invert-100"
                    src="../../assets/archivo-bin.png"
                  />
                </span>
              </button>
              <!-- End Large primary button with icon  -->
            </td>
          </tr>
          <tr class="border-b border-slate-200">
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Developer
            </td>
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Apple
            </td>
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Admin
            </td>
            <td
              class="flex h-12 flex-row items-center justify-end gap-5 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              <!-- Component: Small outline basic button -->

              <button
                class="inline-flex h-8 items-center justify-center gap-2 rounded border border-amber-500 px-4 text-xs font-medium tracking-wide whitespace-nowrap text-black transition duration-300 hover:border-amber-500 hover:bg-amber-500 hover:text-white focus:border-amber-700 focus:text-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:text-amber-300 disabled:shadow-none"
              >
                <span>Editar</span>
              </button>
              <!-- End Small outline basic button -->
              <!-- Component: Large primary button with icon  -->
              <button
                class="inline-flex h-8 items-center justify-center gap-2 self-center rounded border-2 border-red-400 px-4 text-sm font-medium tracking-wide whitespace-nowrap text-white transition duration-300 hover:bg-red-400 focus:bg-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:bg-amber-300 disabled:shadow-none"
              >
                <span class="relative only:-mx-6">
                  <span class="sr-only">Button description</span>
                  <img
                    class="h-8 hover:invert-100"
                    src="../../assets/archivo-bin.png"
                  />
                </span>
              </button>
              <!-- End Large primary button with icon  -->
            </td>
          </tr>
          <tr class="border-b border-slate-200">
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Senior Designer
            </td>
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              20goto10
            </td>
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Member
            </td>
            <td
              class="flex h-12 flex-row items-center justify-end gap-5 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              <!-- Component: Small outline basic button -->

              <button
                class="inline-flex h-8 items-center justify-center gap-2 rounded border border-amber-500 px-4 text-xs font-medium tracking-wide whitespace-nowrap text-black transition duration-300 hover:border-amber-500 hover:bg-amber-500 hover:text-white focus:border-amber-700 focus:text-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:text-amber-300 disabled:shadow-none"
              >
                <span>Editar</span>
              </button>
              <!-- End Small outline basic button -->
              <!-- Component: Large primary button with icon  -->
              <button
                class="inline-flex h-8 items-center justify-center gap-2 self-center rounded border-2 border-red-400 px-4 text-sm font-medium tracking-wide whitespace-nowrap text-white transition duration-300 hover:bg-red-400 focus:bg-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:bg-amber-300 disabled:shadow-none"
              >
                <span class="relative only:-mx-6">
                  <span class="sr-only">Button description</span>
                  <img
                    class="h-8 hover:invert-100"
                    src="../../assets/archivo-bin.png"
                  />
                </span>
              </button>
              <!-- End Large primary button with icon  -->
            </td>
          </tr>
          <tr class="border-b border-slate-200">
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Copywriter
            </td>
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Wind-UI
            </td>
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Owner
            </td>
            <td
              class="flex h-12 flex-row items-center justify-end gap-5 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              <!-- Component: Small outline basic button -->

              <button
                class="inline-flex h-8 items-center justify-center gap-2 rounded border border-amber-500 px-4 text-xs font-medium tracking-wide whitespace-nowrap text-black transition duration-300 hover:border-amber-500 hover:bg-amber-500 hover:text-white focus:border-amber-700 focus:text-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:text-amber-300 disabled:shadow-none"
              >
                <span>Editar</span>
              </button>
              <!-- End Small outline basic button -->
              <!-- Component: Large primary button with icon  -->
              <button
                class="inline-flex h-8 items-center justify-center gap-2 self-center rounded border-2 border-red-400 px-4 text-sm font-medium tracking-wide whitespace-nowrap text-white transition duration-300 hover:bg-red-400 focus:bg-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:bg-amber-300 disabled:shadow-none"
              >
                <span class="relative only:-mx-6">
                  <span class="sr-only">Button description</span>
                  <img
                    class="h-8 hover:invert-100"
                    src="../../assets/archivo-bin.png"
                  />
                </span>
              </button>
              <!-- End Large primary button with icon  -->
            </td>
          </tr>
          <tr class="border-b border-slate-200">
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Project Manager
            </td>
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Tailwindui
            </td>
            <td
              class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              Member
            </td>
            <td
              class="flex h-12 flex-row items-center justify-end gap-5 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
            >
              <!-- Component: Small outline basic button -->

              <button
                class="inline-flex h-8 items-center justify-center gap-2 rounded border border-amber-500 px-4 text-xs font-medium tracking-wide whitespace-nowrap text-black transition duration-300 hover:border-amber-500 hover:bg-amber-500 hover:text-white focus:border-amber-700 focus:text-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:text-amber-300 disabled:shadow-none"
              >
                <span>Editar</span>
              </button>
              <!-- End Small outline basic button -->
              <!-- Component: Large primary button with icon  -->
              <button
                class="inline-flex h-8 items-center justify-center gap-2 self-center rounded border-2 border-red-400 px-4 text-sm font-medium tracking-wide whitespace-nowrap text-white transition duration-300 hover:bg-red-400 focus:bg-amber-700 focus-visible:outline-none disabled:cursor-not-allowed disabled:border-amber-300 disabled:bg-amber-300 disabled:shadow-none"
              >
                <span class="relative only:-mx-6">
                  <span class="sr-only">Button description</span>
                  <img
                    class="h-8 hover:invert-100"
                    src="../../assets/archivo-bin.png"
                  />
                </span>
              </button>
              <!-- End Large primary button with icon  -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- End Underline Table -->
  </div>
</section>
