<!-- Component: Underline Table -->
<div class="w-full overflow-x-auto">
  <table
    class="w-overflow-x-auto w-full border-collapse rounded text-left"
    cellspacing="0"
  >
    <tbody>
      <tr class="border-b border-slate-300">
        <th
          scope="col"
          class="h-12 stroke-slate-700 px-6 text-sm font-medium text-slate-700"
        >
          Name
        </th>
        <th
          scope="col"
          class="h-12 stroke-slate-700 px-6 text-sm font-medium text-slate-700"
        >
          Title
        </th>
        <th
          scope="col"
          class="h-12 stroke-slate-700 px-6 text-sm font-medium text-slate-700"
        >
          Company
        </th>
        <th
          scope="col"
          class="h-12 stroke-slate-700 px-6 text-sm font-medium text-slate-700"
        >
          Role
        </th>
        <th
          scope="col"
          class="h-12 stroke-slate-700 px-6 text-sm font-medium text-slate-700"
        >
          Username
        </th>
      </tr>
      <tr class="border-b border-slate-200">
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Ayub Salas
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Designer
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Carroll Group
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Member
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          salas_a
        </td>
      </tr>
      <tr class="border-b border-slate-200">
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Agnes Sherman
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Developer
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Apple
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Admin
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          shermanagnes
        </td>
      </tr>
      <tr class="border-b border-slate-200">
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Jemma Cummings
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Senior Designer
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          20goto10
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Member
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          jemmaC
        </td>
      </tr>
      <tr class="border-b border-slate-200">
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Jimi Cardenas
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Copywriter
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Wind-UI
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Owner
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          cardenasji
        </td>
      </tr>
      <tr class="border-b border-slate-200">
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Mateusz Tucker
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Project Manager
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Tailwindui
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          Member
        </td>
        <td
          class="h-12 border-slate-200 stroke-slate-500 px-6 text-sm text-slate-500 transition duration-300"
        >
          mt
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- End Underline Table -->
