:root {
  --ff-height: 50px;
}

.ff-compact .mat-mdc-text-field-wrapper {
  border-radius: calc(infinity * 1px) !important;
  height: var(--ff-height) !important;
}

.ff-compact .mat-mdc-form-field-flex {
  align-items: center; /* centra verticalmente el contenido */
}

.ff-compact .mat-mdc-form-field-infix {
  /* reduce padding vertical para compactar el campo */
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: unset; /* evita mínimos heredados */
}

.ff-compact .mat-mdc-input-element {
  height: var(--ff-height); /* establece la altura del input */

  line-height: var(--ff-height); /* alinea el texto con la altura */
  padding: 0; /* quita relleno adicional */
}

.ff-compact .mat-mdc-form-field-icon-suffix,
.ff-compact .mat-mdc-form-field-icon-prefix {
  margin-right: 8px; /* espacio entre icono y borde del campo */
}
