<section class="absolute top-20 w-full">
  <header class="mx-5 mt-4 max-w-7xl">
    <div
      class="relative m-auto mt-2 mb-5 flex h-fit max-w-md items-center justify-center gap-2 rounded-full border-1 pr-3 pl-3"
    >
      <mat-form-field
        class="ff-compact my-2 w-full rounded-full"
        subscriptSizing="dynamic"
      >
        <input
          #buscador
          matInput
          formControlName="busqueda"
          placeholder="Buscar..."
          (input)="onBuscar(buscador.value)"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          aria-label="Borrar búsqueda"
          (click)="onBuscar('')"
        >
          <mat-icon class="material-symbols-outlined">close</mat-icon>
        </button>
      </mat-form-field>

      <button
        class=""
        matMiniFab
        aria-label="Recargar datos"
        (click)="reload()"
      >
        <mat-icon class="material-symbols-outlined">refresh</mat-icon>
      </button>

      <button
        mat-flat-button
        color="primary"
        type="button"
        class=""
        (click)="openAddPaciente()"
      >
        <mat-icon>person_add</mat-icon>
        Añadir
      </button>
    </div>
  </header>

  <div class="m-auto mb-32 w-[95%] max-w-7xl">
    <!-- Estados (opcionales si tienes los httpResource) -->
    @if (pacientesRes.isLoading() && idsClinicas() != null) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    } @else if (pacientesRes.error()) {
      <p class="text-red-600">No se pudieron cargar los pacientes.</p>
    } @else {
      <!-- Tabla Material -->
      <div class="tarjeta-kengo relative m-auto w-full rounded-xl">
        <table
          mat-table
          [dataSource]="pacientes()"
          class="relative w-full !bg-transparent"
        >
          <!-- Col: Nombre -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef class="w-0">
              <span class="hidden sm:inline">Nombre</span>
            </th>
            <td mat-cell *matCellDef="let p" class="!p-1">
              <div class="flex items-center gap-3 px-2 text-zinc-600 md:p-5">
                @if (avatarUrl(p)) {
                  <img
                    [src]="avatarUrl(p)"
                    [alt]="fullName(p)"
                    class="aspect-square h-10 w-10 rounded-full object-cover ring-1 ring-black/10 sm:h-full"
                  />
                } @else {
                  <div
                    class="flex aspect-square h-10 w-10 items-center justify-center rounded-full bg-zinc-500/40"
                  >
                    <mat-icon
                      class="material-symbols-outlined !text-white"
                      aria-hidden="true"
                      >person</mat-icon
                    >
                  </div>
                }

                <span class="hidden sm:inline">
                  {{ fullName(p) }}
                </span>
              </div>
            </td>
          </ng-container>

          <!-- Col: Contacto -->
          <ng-container matColumnDef="contacto">
            <th mat-header-cell *matHeaderCellDef>Pacientes</th>
            <td
              class="max-w-[20%] overflow-hidden !p-1 text-zinc-600 md:p-5"
              mat-cell
              *matCellDef="let p"
            >
              <span class="inline font-semibold sm:hidden">
                {{ fullName(p) }}
              </span>
              {{ p.email || "—" }}<br />
              {{ p.telefono || p.phone || "—" }}
            </td>
          </ng-container>

          <!-- Col: Acciones -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef class="text-right">
              <span class="hidden sm:inline">Acciones</span>
            </th>

            <td mat-cell *matCellDef="let p" class="text-center">
              <button
                mat-icon-button
                class=""
                color="primary"
                (click)="seleccionarPaciente(p)"
              >
                <mat-icon class="material-symbols-outlined">exercise</mat-icon>
              </button>

              <button
                mat-icon-button
                color="primary"
                class=""
                (click)="openEditarPaciente(p)"
              >
                <mat-icon class="material-symbols-outlined">edit</mat-icon>
              </button>

              @if (p.magic_link_url) {
                <button
                  mat-icon-button
                  color="primary"
                  class=""
                  (click)="openDialogoQR(p.magic_link_url)"
                >
                  <mat-icon class="material-symbols-outlined"
                    >qr_code_scanner</mat-icon
                  >
                </button>
              }

              <!--
              <button mat-icon-button color="warn" aria-label="Borrar">
                <mat-icon class="material-symbols-outlined">delete</mat-icon>
              </button>
-->
            </td>
          </ng-container>

          <!-- Header / Rows -->
          <tr
            mat-header-row
            *matHeaderRowDef="['nombre', 'contacto', 'acciones']"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['nombre', 'contacto', 'acciones']"
          ></tr>

          <!-- Vacío -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell p-4 text-gray-600" colspan="4">
              No hay pacientes para mostrar.
            </td>
          </tr>
        </table>
      </div>
    }
  </div>
</section>
