<div class="mt-5 text-zinc-700">
  <span class="block w-full pb-4 text-center font-bold text-zinc-800"
    >¿QUIÉN ES EL RESPONSABLE DEL TRATAMIENTO DE SUS DATOS?</span
  >

  <p>
    IDENTIDAD: Kengo<br />
    CIF: G-********<br />
    DIRECCIÓN POSTAL: 38002, Santa Cruz de Tenerife, España<br />
    TELÉFONO: --- --- ---<br />
  </p>

  <span class="block w-full py-4 text-center font-bold text-zinc-800">
    ¿CON QUÉ FINALIDAD TRATAMOS SUS DATOS PERSONALES?
  </span>

  <p>
    Tratamos los datos que nos facilitan los usuarios que se registren en la
    plataforma de Kengo para *****
  </p>

  <span class="block w-full text-center font-bold text-zinc-800">
    ¿POR CUÁNTO TIEMPO CONSERVAREMOS SUS DATOS?
  </span>

  <p>
    Los datos personales proporcionados se conservarán mientras no se solicite
    la supresión por parte del interesado, o por obligación legal.
  </p>

  <span class="block w-full py-4 text-center font-bold text-zinc-800">
    ¿CUÁL ES LA LEGITIMACIÓN PARA EL TRATAMIENTO DE SUS DATOS?
  </span>

  <p>
    La base legal para el tratamiento de sus datos es la relación contractual
    y/o su consentimiento.
  </p>

  <span class="block w-full py-4 text-center font-bold text-zinc-800">
    ¿A QUÉ DESTINATARIOS SE COMUNICARÁN SUS DATOS?
  </span>

  <p>
    No se cederán datos a terceros sin su previo consentimiento, salvo
    obligación legal o contractual.
  </p>

  <span class="block w-full py-4 text-center font-bold text-zinc-800">
    ¿CUÁLES SON SUS DERECHOS CUANDO NOS FACILITA SUS DATOS?
  </span>

  <p>
    Cualquier persona tiene derecho a obtener confirmación sobre si estamos
    tratando datos personales que les conciernan, o no. Las personas interesadas
    tienen derecho a acceder a sus datos personales, así como a solicitar la
    rectificación de los datos inexactos o, en su caso, solicitar su supresión
    cuando, entre otros motivos, los datos ya no sean necesarios para los fines
    que fueron recogidos. En determinadas circunstancias, los interesados podrán
    solicitar la limitación del tratamiento de sus datos, en cuyo caso
    únicamente los conservaremos para el ejercicio o la defensa de
    reclamaciones.
  </p>

  <p>
    En determinadas circunstancias y por motivos relacionados con su situación
    particular, los interesados podrán oponerse al tratamiento de sus datos.
    Dejaremos de tratar los datos, salvo por motivos legítimos imperiosos, o el
    ejercicio o la defensa de posibles reclamaciones.
  </p>

  <span class="block w-full py-4 text-center font-bold text-zinc-800">
    ¿CÓMO HEMOS OBTENIDO SUS DATOS?
  </span>

  <p>Los datos los hemos obtenido del propio interesado.</p>

  <span class="title fw-medium d-block">Tipología de datos: </span>

  <ul>
    <p>
      <li>Datos identificativos (nombre completo, DNI)</li>
      <li>Datos de contacto (correo electrónico, dirección postal)</li>
    </p>
  </ul>

  <div class="mt-5 flex justify-center">
    <a href="#" target="_blank">
      <button mat-flat-button extended color="warn" class="m-auto block">
        <mat-icon class="material-symbols-outlined">download</mat-icon>
        Descargar documento completo
      </button>
    </a>
  </div>
</div>
