<p>inicio works!</p>

<div
  class="overflow-hidden rounded bg-white text-slate-500 shadow-md shadow-slate-200"
>
  <!-- Image -->
  <figure>
    <img
      src="https://picsum.photos/id/101/800/600"
      alt="card image"
      class="aspect-video w-full"
    />
  </figure>
  <!-- Body-->
  <div class="p-6">
    <header class="mb-4">
      <h3 class="text-xl font-medium text-slate-700">The easy way to go</h3>
      <p class="text-sm text-slate-400">By George, jun 3 2023</p>
    </header>
    <p>
      Experience the simple pleasures of a world with no cars, and only gentle
      walks through palm tree forests, and fallen coconuts. An island that’s
      home to extraordinary cliffs, swelling oceans, and mammoth manta rays.
    </p>
  </div>
</div>
