<div class="fuente-kengo my-10 flex h-20 items-center justify-center text-6xl">
  Inicio
</div>
<div class="flex flex-row flex-wrap justify-center px-10">
  <!-- Component: Basic blog card -->
  <div class="w-1/4 rounded px-2">
    <div class="h-full bg-white text-slate-500 shadow-md shadow-slate-200">
      <!-- Image -->
      <figure>
        <img
          src="https://picsum.photos/id/101/800/600"
          alt="card image"
          class="aspect-video w-full"
        />
      </figure>
      <!-- Body-->
      <div class="p-6">
        <header class="mb-4">
          <h3 class="text-xl font-medium text-slate-700">Mi clinica</h3>
        </header>
        <p>
          Modifica y describe las principales funciones y datos de tu clinica.
          Aqui tambien podras elegir los colores y logos corporativos que los
          clientes finales veran al estar asociados con tu clinica.
        </p>
      </div>
    </div>
  </div>

  <div class="w-1/4 rounded px-2">
    <div class="h-full bg-white text-slate-500 shadow-md shadow-slate-200">
      <!-- Image -->
      <figure>
        <img
          src="https://picsum.photos/id/101/800/600"
          alt="card image"
          class="aspect-video w-full"
        />
      </figure>
      <!-- Body-->
      <div class="p-6">
        <header class="mb-4">
          <h3 class="text-xl font-medium text-slate-700">
            Mis fisioterapeutas
          </h3>
        </header>
        <p>
          Organiza, añade o elimina a los fisioterapeutas que trabajan en la
          clinica al igual que añadir sus respectivos perfiles
        </p>
      </div>
    </div>
  </div>

  <div class="w-1/4 rounded px-2">
    <div class="h-full bg-white text-slate-500 shadow-md shadow-slate-200">
      <!-- Image -->
      <figure>
        <img
          src="https://picsum.photos/id/101/800/600"
          alt="card image"
          class="aspect-video w-full"
        />
      </figure>
      <!-- Body-->
      <div class="p-6">
        <header class="mb-4">
          <h3 class="text-xl font-medium text-slate-700">Mis clientes</h3>
        </header>
        <p>
          Organiza, añade o elimna a los clientes de tu clinica. Podras
          adjudicar videos o comentarios para seguir la recuperacion que cada
          cliente en detalle
        </p>
      </div>
    </div>
  </div>

  <div class="w-1/4 rounded px-2">
    <div class="h-full bg-white text-slate-500 shadow-md shadow-slate-200">
      <!-- Image -->
      <figure>
        <img
          src="https://picsum.photos/id/101/800/600"
          alt="card image"
          class="aspect-video w-full"
        />
      </figure>
      <!-- Body-->
      <div class="p-6">
        <header class="mb-4">
          <h3 class="text-xl font-medium text-slate-700">Ejercicios</h3>
        </header>
        <p>
          Aqui tienes toda la base de datos de los videos con ejercicios para la
          rehabilitacion de los clientes, podras organizar por secciones del
          cuerpo o por los mas utilizados.
        </p>
      </div>
    </div>
  </div>
</div>
